<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Formulaire{% endblock %}</title>

        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

            {# Bootstrap toggle #}
            <link rel="stylesheet" href="{{ asset('bootstrap-toggle-master/css/bootstrap-toggle.min.css') }}">

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="modal-header"></div>

               {% block body %}{% endblock %}

            <div class="modal-footer">Some texte in the footer</div>
        </div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{{ asset('bootstrap-toggle-master/js/bootstrap-toggle.js') }}"></script>
        {% endblock %}
    </body>
</html>
