{% extends 'pdf/layout-pdf.html.twig' %}

{% block content %}
    <div class="container">
        <h1 align="center">This is the PDF content.</h1>
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            {% for f in formulaire %}
                <table class="table">
                    <tr>
                        <th>Nom:</th>
                        <td>{{ f.gender == 'male' ? 'M.' : 'Mme.' }} {{ f.firstname}} {{ f.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{ f.email }}</td>
                    </tr>
                    <tr>
                        <th>Date de naissance:</th>
                        <td>{{ f.datebirth | date("m/d/Y")  }}</td> {# toString #}
                    </tr>
                    <tr>
                        <th>Pays:</th>
                        <td>{{ f.country | countryName }}</td> {# just countrie's abreviatur #}
                    </tr>
                    <tr>
                        <th>ZipCode:</th>
                        <td>{{ f.zipcode }}</td>
                    </tr><br />
                    {% if f.otherResidence == true %}
                        <tr>
                            <th>Autre residence:</th>
                            <td>Oui</td>
                        </tr>
                        <tr>
                            <th>Autre pays:</th>
                            <td>{{ f.otherCountry | countryName }}</td>
                        </tr><br />
                        <tr>
                            <th>Numéro d'identification:</th>
                            <td>{{ f.numberFiscale }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>Autre residence:</th>
                            <td>No</td>
                        </tr>
                    {% endif %}
                </table>
                <figure>
                    <img src="{{ base_dir ~ (asset('res/hedge.jpg')) }}" alt="">
                </figure>
            {% endfor %}
        </div>
    </div>
{% endblock %}