{% extends 'base.html.twig' %}

    {% block body %}
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1 class="text-center" id="title">Create a new registration</h1>
            {{ form_start(form) }}
                <div class="panel">
                    {{ form_row(form.gender) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.datebirth) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.country) }}
                    {{ form_row(form.zipcode) }}
                    {{ form_row(form.otherResidence) }}

                        <div id="hideMe">
                            {{ form_row(form.otherCountry) }}
                            {{ form_row(form.numberFiscale) }}
                        </div>

                    {{ form_row(form.offer) }}
                    {{ form_row(form.save) }}
                </div>
            {{ form_end(form) }}
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
            <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
